<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (character()) {
      <div>
        <h2 data-cy="characterDetailsHeading"><span>Character</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span>Id</span></dt>
          <dd>
            <span>{{ character()!.id }}</span>
          </dd>
          <dt><span>Title</span></dt>
          <dd>
            <span>{{ character()!.title }}</span>
          </dd>
          <dt><span>Item</span></dt>
          <dd>
            @if (character()!.item) {
              <div>
                <a [routerLink]="['/item', character()!.item?.id, 'view']">{{ character()!.item?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
        </button>

        <button type="button" [routerLink]="['/character', character()!.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
        </button>
      </div>
    }
  </div>
</div>
